[submodule "dpdk"]
	path = dpdk
	url = git@github.com:DPDK/dpdk.git
[submodule "rocksdb"]
	path = rocksdb
	url = git@github.com:facebook/rocksdb.git
[submodule "spdk"]
	path = spdk
	url = git@github.com:spdk/spdk.git
[submodule "seastar"]
	path = seastar
	url = git@github.com:scylladb/seastar.git
